body {
  margin: 0;
  font-family: Arial, sans-serif;
}


html, body, #root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

/* Evita scroll lateral */
html, body {
  overflow-x: hidden;
}

/* Fundo */
.container {
  min-height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
}

/* Card */
.card {
  background: rgba(255, 255, 255, 0.05);
  padding: 40px;
  border-radius: 16px;
  backdrop-filter: blur(10px);
  text-align: center;
  color: white;

  width: 100%;
  max-width: 420px;

  margin: 0 auto;
}

/* Texto */
.title {
  margin-bottom: 10px;
}

.subtitle {
  margin-bottom: 30px;
  font-size: 14px;
  opacity: 0.8;
}

/* Botões */
.buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.btn {
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.25s ease;
}

/* Botão principal */
.primary {
  background: #7c3aed;
  color: white;
  border: none;
}

.primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(124, 58, 237, 0.4);
}

.primary:active {
  transform: scale(0.97);
}

/* Outline */
.outline {
  background: transparent;
  border: 1px solid #7c3aed;
  color: white;
}

.outline:hover {
  background: rgba(124, 58, 237, 0.1);
  transform: translateY(-2px);
}

.outline:active {
  transform: scale(0.97);
}

/* RESPONSIVO */
@media (min-width: 768px) {
  .card {
    max-width: 500px;
  }

  .title {
    font-size: 28px;
  }

  .subtitle {
    font-size: 16px;
  }

  .buttons {
    flex-direction: row;
    justify-content: center;
  }

  .btn {
    flex: 1;
    max-width: 150px;
  }
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.05);
  color: white;
  outline: none;
  font-size: 14px;
  transition: all 0.2s ease;
}

.form input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.form input:focus {
  border: 1px solid #7c3aed;
  box-shadow: 0 0 0 2px rgba(124, 58, 237, 0.2);
}

.form button {
  align-self: center;
  width: 100%;
  max-width: 200px;
}