
/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonte global */
html, body, #root {
  height: 100%;
  width: 100%;
  font-family: 'Arial', sans-serif;
}

/* Fundo  */
body {
  background: linear-gradient(135deg, #1a0033, #3b0a75);
  overflow-x: hidden;
}

/* Root ocupa tudo */
#root {
  display: flex;
}
